<p>
  <div class="ck-content">
    <%= raw @post.content %>
  </div>
</p>

<% if @post.template == 'classic' %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to '< Home', posts_path %>
